@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursiva;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vh;
}
header > p{
    padding-bottom: 50px;
    color: white;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom:  10vh;
    line-height: 2em;
    padding-left: 30px;
    border-radius: 1px;
  
    font-size: 3.5vh;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(8, 24, 19);
    color: darkgrey;
    background: black url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
}
section.imagem#dois{
    background: black url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    font-family: 'Sriracha', cursiva;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.466);
    padding-bottom: 0px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 10px 10px 10px;
    text-align: center;
}