@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    background-image: linear-gradient(to right, rgb(34, 30, 34), rgb(163, 159, 163) );
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.397);
}
div{
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
}
body{
    background-image: url(../imagem/espaco.jpg);
    background-attachment: scroll;
    background-position: absolute;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}
