@charset "UTF-8";
/*Todas medias*/

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

@media print { /*IMPRESSÃO*/
    *{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    main{
        border: 2px solid black;
    }
    img#fone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: block;}
    img#pc{ display: none;}
    img#tv{ display: none;} 
}

@media screen and (min-width: 769px) and (max-width: 1024px){ /*TABLETS*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#fone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;} 
}
@media screen and (min-width: 1025px) and (max-width: 1200px){ /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#fone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;} 
}
@media screen and (min-width: 1201px) { /* TELAS GRANDES */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    img#fone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;} 
}
    