@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 255, 0.418);
    padding: 10px;

}
/* Declarações retrato */
@media screen and (orientation: portrait) {
    body{
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: left bottom;
    }
}
/* Declarações paisagem */
@media screen and (orientation: landscape) {
    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}
