@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #052442,#0A4F8F,#0E6BC2, #3B86CC);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 3px 15px #101820;
}

h1{
    color: #233546;
    text-align: center;
    text-shadow: 1px 1px 2px #052442;
    
}

h2{
    color: #052442;
}

p{
    text-align: justify;
    color: 3B86CC;
}